#game-container{
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
}

.square{
    background-color: #2e2e2e;
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}

body{
    color: white;
    margin-top: 100px;
}

#page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-btn{
    padding: 10px 30px;
    font-size: 2.5rem;
    border-radius: 15px;
}

#play-btn:hover, .square:hover{
    cursor: pointer;
}