#game-container{
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
}

.square{
    background-color: blue;
    font-size: 10rem;
}