#game-container{
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
    margin-top: 20px;
}

.square{
    background-color: #2e2e2e;
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.disabled{
    pointer-events: none;
    opacity: 0.5;
}

body{
    color: white;
    margin-top: 0;
}

#page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-btn{
    padding: 10px 30px;
    font-size: 2.5rem;
    border-radius: 15px;
}

#play-btn:hover, .square:hover{
    cursor: pointer;
}

h1{
    font-size: 3rem;
}

#input-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type='text']{
    width: 180px;
    padding: 10px 14px;
    border: 1px solid #333;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
}